.color-picker { 
  position: absolute;
  display: flex;
  align-items: center;
  border: solid 1px black;
  width: 75%;
}

.color { 
  flex-direction: column;
  justify-content: center;
  border: solid 1px black;
  display: flex;
  max-height: 23px;
  width: 33.3%;
  padding-left: 5px;
  padding-top: 10px;
  position: relative;
}

.black { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5px;
  border: solid 1px black;
  position: relative;
  padding-top: 10px;
  height: 23px;
  width: 33.3%;
  position: relative;
  background-color: black;
  color: white;
}

.beige { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5px;
  border: solid 1px black;
  position: relative;
  padding-top: 10px;
  height: 23px;
  width: 33.3%;
  position: relative;
  background-color: beige;
}

.quantity { 
  display: flex;
  align-items: center;
  margin-top: 50px;
  height: 23px;
}

.quantity-btns { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 23px;
  width: 23px;
  position: relative;
}

.quantity-section { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5px;
  border: solid 1px black;
  position: relative;
  padding-top: 10px;
  height: 23px;
  width: 33.3%;
  position: relative;
}

.minus-btn { 
  display: flex;
  justify-content: center;
  flex-direction: column;
}

